.navbar {
    height: 80px;
    background-color: #3d5a68;
}

.navbar-brand {
    font-family: 'Lato', sans-serif !important;
    color: #ffc930;
    font-size: 30px !important;
    margin-left: 20px;
}

#min_input {
    text-align: right;
    width: 15%;
}

#inputGroup-sizing-sm {
    width: 85%;
}

.btn-primary {
    background-color: #4c7183 !important;
    color: #ffc930 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    line-height: 1.2;
    color: #3d5a68 !important;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #000;
    border-color: #000;
}


.spinner-button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff
}

.spinner-button i {
    color: #fff
}

.spinner-button:hover i {
    color: #fff
}

.fa {
    color: #fff;
}

.fa:hover {
    color: #fff;
}

